@inherits LayoutComponentBase

<PageTitle>Library Project</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Library_Project.Pages.WelcomeMessage></Library_Project.Pages.WelcomeMessage>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
