@page "/admin"


<div class="container">
    <div class="form_container">
        <form>
            <div class="login_title">
                Belépés
            </div>

            <div class="input-icons">
                    <input placeholder="Felhasználónév" />
            </div>

            <div class="input-icons">
                <input placeholder="Jelszó" />
            </div>

            <div class="btn_container">
                <button>Log In</button>
                <button>Log Out</button>
            </div>
            
        </form>
    </div>
</div>

@code {

}
