body {
}

.container {
    height: 400px;
    width: 350px;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, #006400 90%);
}

.form_container {
    margin-left: 20px;
    margin-right: 20px;
}

.login_title {
    font-size: xx-large;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
}

input {
    margin-top: 10%;
    width: 100%;
}


button {
    margin-top:10%;
    width: 100%;
}


